:root {
    --background-primary: rgb(8, 20, 28);
    --color-primary: rgb(247, 171, 10);
    --color-secondary: #ffffff;
    --color-secondary-inverted: rgb(8, 20, 28);
    --font-size-m: 10px;
    --font-size-l: 16px;
    --font-size-xl: 32px;
    --border-radius: 0.5rem;
    --nav-height: 7rem;
    --page-padding: 0 2rem 0 2rem;
}